<div class="toolbar-container">
  <h3>{{ title }}</h3>

  <div class="content">
    <ul>
      <li
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Components
      </li>
      <li
        routerLink="directives"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Directives
      </li>
      <li
        routerLink="services"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Services
      </li>
      <li
        routerLink="pipes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Pipes
      </li>
      <li
        routerLink="others"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Other
      </li>
    </ul>
  </div>
</div>
